
<div class="pd36">
	<div class="row main">
		<div class="col-md-4 col-sm-12 literature">
			<h2>
			<a href="#">LITERATURE >></a>
		</h2>
			<h3>
			share a world
		</h3>
			<ul>
				<li>ecma script6学习心得</li>
				<li>理解事件流</li>
				<li>Chrome 调试本地less样式</li>

			</ul>
		</div>

		<div class="col-md-4 col-sm-12 literature code">
			<h2>
			<a href="#">CODE >></a>
		</h2>
			<h3>
			share a world
		</h3>
			<ul>
				<li>ecma script6学习心得</li>
				<li>理解事件流</li>
				<li>Chrome 调试本地less样式</li>
			</ul>
		</div>

		<div class="col-md-4 col-sm-12 literature">
			<h2>
			<a href="#">LITERATURE >></a>
		</h2>
			<h3>
			share a world
		</h3>
			<ul>
				<li>ecma script6学习心得</li>
				<li>理解事件流</li>
				<li>Chrome 调试本地less样式</li>
			</ul>
		</div>
	</div>
</div>

<div class="block">
	<h1 class='text-center'><span id='currentTemp'>Contact Me</span><br/></h1>
</div>

<section >
	<div class="row"   id="contact">
		<div class="col-md-8 align-self-center">
			<!--Naked Form-->
			<div class="card-block">
				<!--Header-->
				<div class="text-center">
					<h3><i class="fa fa-envelope"></i> Write to me:</h3>
					<hr class="mt-2 mb-2">
				</div>

				<!--Body-->
				<p class="text-center">I will reply A.S.A.P.</p>
				

				<!--Body-->
				<div class="md-form">
					<i class="fa fa-user prefix"></i>
					<input type="text" id="form3" class="form-control">
					<label for="form3">Your name</label>
				</div>

				<div class="md-form">
					<i class="fa fa-envelope prefix"></i>
					<input type="text" id="form2" class="form-control">
					<label for="form2">Your email</label>
				</div>

				<div class="md-form">
					<i class="fa fa-tag prefix"></i>
					<input type="text" id="form32" class="form-control">
					<label for="form34">Subject</label>
				</div>

				<div class="md-form">
					<i class="fa fa-comments prefix"></i>
					<textarea type="text" id="form8" class="md-textarea"></textarea>
					<label for="form8">Message</label>
				</div>

				<div class="text-center">
					<button class="btn btn-info">Submit</button>
				</div>
			</div>
			<!--Naked Form-->
		</div>
		<div class="col-md-4 text-center">
			<ul>
				<li>
					<a class='btn btn-default' target="_blank" href='https://github.com/ysxhd'>
			<i class="iconfont">&#xe600;</i> GitHub</a>
				</li>
				<li>
					<a class='btn btn-default' target="_blank" href='https://github.com/ysxhd'>
			<i class="iconfont">&#xe600;</i> GitHub</a>
				</li>
				<li>
					<a class='btn btn-default' target="_blank" href='https://www.facebook.com/hongdou.xi'><i class="iconfont">&#xe607;</i> 简书</a>
				</li>
				<li>
					<a class='btn btn-default' target="_blank" href='https://www.facebook.com/hongdou.xi'><i class="iconfont">&#xe683;</i> codepen</a>
				</li>
			</ul>
		</div>
	</div>
</section>